/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Slab';
  padding: 20px;
  background-color: #f4f4f4;
}

.header {
  background-color: #81cbd4;
  padding: 20px;
  color: white;
  border-radius: 8px 8px 0 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.form-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: #45a049;
}
